{% extends "gestion_commandes/base.html" %}
{% block titre %}403{% endblock %}
{% block contenu %}
    <h2>Erreur 403</h2>
    <br>
    <hr class="hr80">
    <div class="alert alert-warning msg" role="alert">
        <p>Oupssi! Accès refusé!</p>
        <p>Appuyer sur le bouton bleu ci-dessous pour retourner à l'accueil.</p>
    </div>

    <div class="allingCenter">
        {% load static %}
        <a href="{% url 'index' %}" class="btn btn-primary margin1">
            <div class="iconBouton">
                <img src="{% static 'img/previous.png' %}" alt="icon previous"/> Retour accueil
            </div>
        </a>
    </div>

{% endblock %}